<div class="footer-address">
  <p><a href="mailto:info@bridgedegree.com"><i data-lucide="mail"></i> info@bridgedegree.com</a></p>
  <p><a href="mailto:bridgedegree@gmail.com"><i data-lucide="mail"></i> bridgedegree@gmail.com</a></p>
</div>
