<div class="footer-address">
  <p><i data-lucide="map-pin"></i> 12 Education Way, Abuja, Nigeria</p>
  <p><a href="mailto:infor@bridgedegree.com"><i data-lucide="mail"></i> infor@bridgedegree.com</a></p>
  <p><a href="tel:+2348012345678"><i data-lucide="phone"></i> +234 801 234 5678</a></p>
</div>
