<% const isDark = typeof dark !== 'undefined' && dark; %>
<div class="social-icons">
  <a href="#" aria-label="Facebook"><i data-lucide="facebook"></i></a>
  <a href="#" aria-label="Twitter"><i data-lucide="twitter"></i></a>
  <a href="https://www.linkedin.com/company/112230643" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><i data-lucide="linkedin"></i></a>
</div>
